
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.X Classroom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    

</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <p>Mr.X CLASSROOM</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="add">
            <div class="menu">
                <form method="POST" action="submit">
                    {% csrf_token %}
                    <label for="Time">Time</label><br>
                    <input type="time" name="time" id="time">
                    <br><br>
                    <label for="sub">Subject</label><br>
                    <select id="sub" name="subject">
        <option selected="DBMS" name="subject">DBMS</option>
        <option selected="DC" name="subject">DC</option>
        <option selected="MICRO PROCESSER" name="subject">Micro Processer</option>
        <option selected="STATISTICSt" name="subject">Statistics</option>
        <option selected="MATHS" name="subject">Maths</option>
      </select><br>
                    <label for="msg">Message</label><br>
                    <textarea name="message" id="link" cols="20" rows="3" placeholder="Enter here..."></textarea><br>
            </div>
            <div class="box">
                <input type="submit" >
            </div>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</body>

